extends layout
block content
  div(class="container" id="Cool" ng-app="mainApp" ng-controller="formController")
     h2= title
     a(href="/animals/index") Home 
     &nbsp;&nbsp;|&nbsp;&nbsp;
     a(href="/animals/add") Add User
     form(method='post', action='/animals/addAnimal')
        input(type='text', name='name', value='', placeholder='Name' ng-model="name")
        input(type='text', name='email', value='', placeholder='Email' ng-model="email")
        input(type='submit', value='{{btname}}' ng-bind="btname")