extends layout
block content
 div
     #addAnimalIndex.text-center
        h4 Adauga animal
           br
       div
          br
          row.col-md-12
               form.form-horizontal
                   div.form-group
                        label.col-md-1 Nume:
                        div
                        input(type='text')
                   div.form-group
                        label.col-md-1 Specia:
                        div
                        input(type='text')
                   div.form-group
                        label.col-md-1 Varsta:
                        div
                        input(type='text')
                   div.form-group
                        label.col-md-1 Sex:
                        div
                        input(type='text')
                   div.form-group
                        label.col-md-1 Numar de identificare:
                        div
                        input(type='text') 
                   br
                   div.form-group
                        label.col-md-1 Proprietar:
                        div
                        input(type='text')
                   br
                   div.form-group.col-md-6.col-md-push-1
                            button.btn4(ng-click="(todo.id)") Adauga