extends layout
block content
    
    div 
        #articole
            br
            h1 Articole     
    div#articole1
            img(src='images/stiatica.jpg' alt="Image Title")
            h2.text-center Stiati ca...?
    div#articole2
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/cal.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; Caii comunica intre ei folosind peste 100 de sunete.
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/pui.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; Puii de gaina se ajuta intre ei prin ciripit. Ciripitul anunta ceilalti pui ca hrana se afla prin apropiere.
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/vaca.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; Organismul unei vaci are nevoie de doua zile pentru a procesa mancarea si a o transforma in lapte.
    div#articole2
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/caine.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; Fiecare câine are o amprenta unica, precum oamenii, care se afla pe vârful nasului?
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/pisica.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; O pisica poate recunoaste mersul stapanului ei de la sute de metri departare.
        .row.col-sm-4.panel
            div
                .panel-heading.text-center
                    img(src='images/papagal.jpg' alt="Image Title")
            div
                .panel-body
                    p&nbsp;&nbsp;&nbsp; Cea mai mica specie de papagal este papagalul Pigmeu din Noua Guinee care nu are mai mult de 8 cm lungime.
                    
    div#articole1
            img(src='images/info.jpg' alt="Image Title")
            h2.text-center Informatii scurte
    div#articole3
        .panel5
            div
                .col-sm-4.panel-heading
                    img(src='images/capra.jpg' alt="Image Title")
                .col.sm-6.col-sm-6
                    h3 Capra
                    ul
                        li Durata de viata: Intre 15 si 18 ani
                        li Mediu de viata: Zone de munte / gospodarii
                        li Clasa: Mamifer
                        li Nume stiintific: Capra aegagrus hircus
                        li Mancarea principala: Iarba, fructe, frunze
        .panel6
            div
                col-sm-6.col-sm-6.panel-heading
                    h3 Curcan
                    ul
                        li Durata de viata: De la 1 an la 10 ani    
                        li Mediu de viata: Paduri, campii
                        li Clasa: Aves
                        li Nume stiintific: Meleagris Gallopavo
                        li Mancarea principala: Insecte, seminte
                .col.sm-4
                    img(src='images/curcan.jpg' alt="Image Title")
        .panel5
            div
                .col-sm-4.panel-heading
                    img(src='images/gasca.jpg' alt="Image Title")
                .col.sm-6.col-sm-6
                    h3 Gasca
                    ul
                        li Durata de viata: Intre 12 si 26 ani
                        li Mediu de viata: Iazuri mari, rauri
                        li Clasa: Aves
                        li Nume stiintific: Branta
                        li Mancarea principala: Iarba, seminte, fructe de padure
        .panel6
            div
                col-sm-6.col-sm-6.panel-heading
                    h3 Ponei
                    ul
                        li Durata de viata:  Pana la 20 de ani  
                        li Mediu de viata: Ferme, campii
                        li Clasa: Mamifere
                        li Nume stiintific: Equus ferus caballus
                        li Mancarea principala: Iarba
                .col.sm-4
                    img(src='images/ponei.jpg' alt="Image Title")
      div 
        #articole
            .panel7
                p "Animalele sunt demne de incredere, autentice in afectiunea lor, previzibile in actiunile lor, recunoscatoare si loiale. Standarde greu de atins pentru oameni!"
                p2 Alfred A. Montapert
        
     div
        footer.text-center
            p Copyright - EmiEmima
                
                        
       
