extends layout
block content
    div    
        .navbar.navbar-default.navbar-fixed-top
            .navbar-header
              a(href='#').navbar-brand BioVet
             div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li: a( href="#") Acasa
                    li: a( href="#" ) Servicii
                    li: a( href="#" ) Articole
                    li: a( href="#" ) Registru
                    li: a( href="#" ) Contact
    div 
        #page1.container2
            br
            h1 Cabinet medical veterinar 
            div
                img.center-block.image(src='images/dogs.jpg' alt="Image Title")
            p Oferim servicii non-stop!        
        
          
