extends layout
block content
    
    div 
        #page1.container1
            br
            h1 Cabinet medical veterinar 
            div
                img.center-block.image(src='images/dogs.jpg' alt="Image Title")
            p Oferim servicii non-stop!        
        
    div
        #page2.container2.text-center
            h2 Servicii
            div
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Consultatii
                div
                    .panel-body
                        p Consultatii generale
                        p Consultatii Dermatologie
                        p Consultatii Ortopedice
                        div
            
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Chirurgie
                div
                    .panel-body
                        p Sterilizare
                        p Cezariana
                        p Anestezie clasica
                        p Prolaps Uterin
                        p Fracturi
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Medicina interna
                div
                    .panel-body
                        p Tratamente
                        p Vaccinari
                        p Perfuzii si transfuzii sange    
    div
        #page2.container2.text-center
            .row.col-lg-6.panel2.panel-default.text-center
                div
                    .panel-heading
                        h1 Farmacie veterinara
                div
                    .panel-body
                        p Hrană și diete speciale
                        p Suplimente
                        p Unguente și șampoane medicamentoase
            .row.col-lg-6.panel2.panel-default.text-center
                div
                    .panel-heading
                        h1 Cosmetica canina
                div
                    .panel-body
                        p Frizerie canină
                        p Toaleta de întretinere
                        p Descâlcire, periere și pieptănare
    div
        #page5.text-center
            h2 Contact
            div
                .row.col-md-5
                    h1 Daca vrei sa fii salvat, uite numar de contact!
                        div
                            br
                        span.glyphicon.glyphicon-map-marker Poienile de sub munte 
                            br
                        span.glyphicon.glyphicon-phone  0758075632
                            br
                        span.glyphicon.glyphicon-envelope  luci_an_toma@yahoo.com
                .row.col-md-6
                    form(method="post", action="contact/send")
                        .form-group
                            label Nume
                            input.form-control(type="text",name="name")
                        .form-group
                            label Email
                            input.form-control(type="email", name='email')
                        .form-group
                            label Mesaj
                            textarea.form-control(name="message")
                        button.btn5(type='submit') Trimite
    div
        footer.text-center
            p Copyright - EmiEmima
    script.
        $(document).ready(function(){
          $('a[href*=#]').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            && location.hostname == this.hostname) {
              var $target = $(this.hash);
              $target = $target.length && $target
              || $('[name=' + this.hash.slice(1) +']');
              if ($target.length) {
                var targetOffset = $target.offset().top;
                $('html,body')
                .animate({scrollTop: targetOffset}, 1500);
               return false;
              }
            }
          });
        });

                    
