extends layout
block content
    div    
        .navbar.navbar-default.navbar-fixed-top
            .navbar-header
              a(href='#').navbar-brand BioVet
             div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li: a( href="#") Acasa
                    li: a( href="#" ) Servicii
                    li: a( href="#" ) Articole
                    li: a( href="#" ) Registru
                    li: a( href="#" ) Contact
    div 
        #page1.container1
            br
            h1 Cabinet medical veterinar 
            div
                img.center-block.image(src='images/dogs.jpg' alt="Image Title")
            p Oferim servicii non-stop!        
        
    div
        #page2.container2.text-center
            h2 Servicii
            div
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Consultatii
                div
                    .panel-body
                        p Consultatii generale
                        p Consultatii Dermatologie
                        p Consultatii Ortopedice
                        div
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Medicina interna
                div
                    .panel-body
                        p Tratamente
                        p Vaccinari
                        p Perfuzii si transfuzii sange    
            .row.col-sm-4.panel.panel-default.text-center
                div
                    .panel-heading
                        h1 Chirurgie
                div
                    .panel-body
                        p Sterilizare
                        p Cezariana
                        p Anestezie clasica    
                    

                    
