extends layout
block content
    div
        #page4.container4.text-center
            h3 Registru consultatii
    div
        button.btn1 
            a(href="/newFile") Fisa noua
        button.btn2 Consultatii anterioare
        button.btn3 
            a(href="/animals") Evidenta animale