
.navbar {
    margin-bottom: 0;
    background-color: green;
    letter-spacing: 6px;
    padding-bottom: 0px;
}

.navbar li a, .navbar {
    color: white !important;
	font-family: 'Oranienbaum', serif;
	font-size: 20px;
	
}
.navbar-brand{
	color: white !important;
	font-family: 'Oranienbaum', serif;
	font-size: 35px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: green !important;
    background-color: white !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

body {
	position: relative;	
}

#page1 {
	background-color: white;
	height: 660px;
}

.image {
    background-repeat: no-repeat;
    align-items: center;
}

.container1 h1{
    font-family: 'Berkshire Swash', cursive;
    color: black;
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
}
.container1 p{
	font-family: 'Berkshire Swash', cursive;
	color: black;
	font-size: 25px;
    margin-top: 30px;
    text-align: center;
}
#page2 {
	padding-top:30px;
	height:465px; 
	background-color: palegreen;
	
}
.container2 h2 {
	font-family: 'Overlock', cursive, bold;
	font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.panel {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black; 
    border-radius:0;
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    width: 400px;
    height: 300px;
}
.panel2 {
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 15px;
    border: 1px solid black; 
    border-radius:0;
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    width: 400px;
    background-color: white;
}
.panel h1 {
    font-size: 32px;
	font-family: 'Overlock', cursive;
}
.panel p {
	font-size:18px;
	font-family: 'Source Sans Pro', sans-serif;
}
.panel2 h1 {
    font-size: 32px;
	font-family: 'Overlock', cursive;
}
.panel2 p {
    font-size:18px;
	font-family: 'Source Sans Pro', sans-serif;
}



#page4 {
	padding-top:50px;
	background-color: white;
	
}
.container4 h3{
    font-family: 'Berkshire Swash', cursive;
    color: black;
    font-size: 50px;
    margin-top: 100px;
}
.btn1 {
    background-color: darkseagreen;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: 'Overlock', cursive, bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 480px;
    margin-top: 50px;
    cursor: pointer;
}
.btn2 {
    background-color: darkseagreen;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: 'Overlock', cursive, bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 50px;
    cursor: pointer;
}


#page5 {
	padding-top:30px;
	height:500px; 
}

#page5 h2 {
	font-family: 'Overlock', cursive, bold;
	font-size: 35px;
    margin-bottom: 30px;
}
#page5 h1 {
	font-family: 'Overlock', cursive, bold;
	font-size: 25px;
	margin-left: 20px;
    margin-right: 30px;
}
#page5 p {
	font-family: 'Overlock', cursive, bold;
	font-size: 25px;
	margin-left: 100px;
}
#page5 label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}

#page5 form {
    width: 100%; 
}

#registru {
	background-color: #d4f7de;
	
}

#registru h1 {
	font-size:35px;
	font-family: 'Overlock', cursive, bold;
	text-align: center;
}

#registru h2 {
	font-family: 'Dosis', sans-serif;
	margin-left: 30px;
}

#updateAnimals{
    margin-top: 100px;
}

#newFile{
    margin-top: 60px;
    background-color: antiquewhite; 
}

form{
    width: 200%;
}

h2{
    font-size: 40px;
	font-family: 'Overlock', cursive;
    margin-top: 30px;
    margin-bottom: 50px;
}
h4{
    font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

label{
    font-family: 'Overlock', cursive, bold;
    font-size: 18px;
}
